#puzzle {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 320px;
    margin-bottom: 20px;
  }
  
  .cell {
    width: 158px;
    height: 105px;
    border: 1px solid black;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  #solve-btn {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }